__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/

outputs/models/*.joblib
outputs/models/*.pkl

data/raw/
!data/raw/.gitkeep

.env
.env.local

database/load_postgres_local.sql
